In [1]:
import warnings
warnings.filterwarnings('ignore')

import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)
df.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [3]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [4]:
df = pd.merge(df,movie_titles,on='item_id')
df.head()

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)
2       79       50       4  891271545  Star Wars (1977)
3        2       50       5  888552084  Star Wars (1977)
4        8       50       5  879362124  Star Wars (1977)

In [5]:
df.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Marlene Dietrich: Shadow and Light (1996)     5.0
Prefontaine (1997)                            5.0
Santa with Muscles (1996)                     5.0
Star Kid (1997)                               5.0
Someone Else's America (1995)                 5.0
Name: rating, dtype: float64

In [6]:
df.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Star Wars (1977)             584
Contact (1997)               509
Fargo (1996)                 508
Return of the Jedi (1983)    507
Liar Liar (1997)             485
Name: rating, dtype: int64

In [7]:
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings.head()

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [8]:
ratings['num of ratings'] = pd.DataFrame(df.groupby('title')['rating'].count())
ratings.head()

                             rating  num of ratings
title
'Til There Was You (1997)  2.333333               9
1-900 (1994)               2.600000               5
101 Dalmatians (1996)      2.908257             109
12 Angry Men (1957)        4.344000             125
187 (1997)                 3.024390              41

In [9]:
moviemat = df.pivot_table(index='item_id',columns='user_id',values='rating').fillna(0)
print(moviemat.head())

user_id  0    1    2    3    4    5    6    7    8    9    ...  934  935  936  \
item_id                                                    ...
1        0.0  5.0  4.0  0.0  0.0  4.0  4.0  0.0  0.0  0.0  ...  2.0  3.0  4.0
2        0.0  3.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  ...  4.0  0.0  0.0
3        0.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  4.0
4        0.0  3.0  0.0  0.0  0.0  0.0  0.0  5.0  0.0  0.0  ...  5.0  0.0  0.0
5        0.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

user_id  937  938  939  940  941  942  943
item_id
1        0.0  4.0  0.0  0.0  5.0  0.0  0.0
2        0.0  0.0  0.0  0.0  0.0  0.0  5.0
3        0.0  0.0  0.0  0.0  0.0  0.0  0.0
4        0.0  0.0  0.0  2.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 944 columns]

In [10]:
print(moviemat.shape)

(1682, 944)

In [11]:
movie_to_idx = {
    movie: i for i, movie in enumerate(list(movie_titles.set_index('item_id').loc[moviemat.index].title))
}
movie_to_idx

{'Toy Story (1995)': 0,
 'GoldenEye (1995)': 1,
 'Four Rooms (1995)': 2,
 'Get Shorty (1995)': 3,
 'Copycat (1995)': 4,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 5,
 'Twelve Monkeys (1995)': 6,
 'Babe (1995)': 7,
 'Dead Man Walking (1995)': 8,
 'Richard III (1995)': 9,
 'Seven (Se7en) (1995)': 10,
 'Usual Suspects, The (1995)': 11,
 'Mighty Aphrodite (1995)': 12,
 'Postino, Il (1994)': 13,
 "Mr. Holland's Opus (1995)": 14,
 'French Twist (Gazon maudit) (1995)': 15,
 'From Dusk Till Dawn (1996)': 16,
 'White Balloon, The (1995)': 17,
 "Antonia's Line (1995)": 18,
 'Angels and Insects (1995)': 19,
 'Muppet Treasure Island (1996)': 20,
 'Braveheart (1995)': 21,
 'Taxi Driver (1976)': 22,
 'Rumble in the Bronx (1995)': 23,
 'Birdcage, The (1996)': 24,
 'Brothers McMullen, The (1995)': 25,
 'Bad Boys (1995)': 26,
 'Apollo 13 (1995)': 27,
 'Batman Forever (1995)': 28,
 'Belle de jour (1967)': 29,
 'Crimson Tide (1995)': 30,
 'Crumb (1994)': 31,
 'Desperado (1995)': 32,
 'Doom Generation, The (1995)': 33,
 'Free Willy 2: The Adventure Home (1995)': 34,
 'Mad Love (1995)': 35,
 'Nadja (1994)': 36,
 'Net, The (1995)': 37,
 'Strange Days (1995)': 38,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 39,
 'Billy Madison (1995)': 40,
 'Clerks (1994)': 41,
 'Disclosure (1994)': 42,
 'Dolores Claiborne (1994)': 43,
 'Eat Drink Man Woman (1994)': 44,
 'Exotica (1994)': 45,
 'Ed Wood (1994)': 46,
 'Hoop Dreams (1994)': 47,
 'I.Q. (1994)': 48,
 'Star Wars (1977)': 49,
 'Legends of the Fall (1994)': 50,
 'Madness of King George, The (1994)': 51,
 'Natural Born Killers (1994)': 52,
 'Outbreak (1995)': 53,
 'Professional, The (1994)': 54,
 'Pulp Fiction (1994)': 55,
 'Priest (1994)': 56,
 'Quiz Show (1994)': 57,
 'Three Colors: Red (1994)': 58,
 'Three Colors: Blue (1993)': 59,
 'Three Colors: White (1994)': 60,
 'Stargate (1994)': 61,
 'Santa Clause, The (1994)': 62,
 'Shawshank Redemption, The (1994)': 63,
 "What's Eating Gilbert Grape (1993)": 64,
 'While You Were Sleeping (1995)': 65,
 'Ace Ventura: Pet Detective (1994)': 66,
 'Crow, The (1994)': 67,
 'Forrest Gump (1994)': 68,
 'Four Weddings and a Funeral (1994)': 69,
 'Lion King, The (1994)': 70,
 'Mask, The (1994)': 71,
 'Maverick (1994)': 72,
 'Faster Pussycat! Kill! Kill! (1965)': 73,
 'Brother Minister: The Assassination of Malcolm X (1994)': 74,
 "Carlito's Way (1993)": 75,
 'Firm, The (1993)': 76,
 'Free Willy (1993)': 77,
 'Fugitive, The (1993)': 78,
 'Hot Shots! Part Deux (1993)': 79,
 'Hudsucker Proxy, The (1994)': 80,
 'Jurassic Park (1993)': 81,
 'Much Ado About Nothing (1993)': 82,
 "Robert A. Heinlein's The Puppet Masters (1994)": 83,
 'Ref, The (1994)': 84,
 'Remains of the Day, The (1993)': 85,
 'Searching for Bobby Fischer (1993)': 86,
 'Sleepless in Seattle (1993)': 87,
 'Blade Runner (1982)': 88,
 'So I Married an Axe Murderer (1993)': 89,
 'Nightmare Before Christmas, The (1993)': 90,
 'True Romance (1993)': 91,
 'Welcome to the Dollhouse (1995)': 92,
 'Home Alone (1990)': 93,
 'Aladdin (1992)': 94,
 'Terminator 2: Judgment Day (1991)': 95,
 'Dances with Wolves (1990)': 96,
 'Silence of the Lambs, The (1991)': 97,
 'Snow White and the Seven Dwarfs (1937)': 98,
 'Fargo (1996)': 99,
 'Heavy Metal (1981)': 100,
 'Aristocats, The (1970)': 101,
 'All Dogs Go to Heaven 2 (1996)': 102,
 'Theodore Rex (1995)': 103,
 'Sgt. Bilko (1996)': 104,
 'Diabolique (1996)': 105,
 'Moll Flanders (1996)': 106,
 'Kids in the Hall: Brain Candy (1996)': 107,
 'Mystery Science Theater 3000: The Movie (1996)': 108,
 'Operation Dumbo Drop (1995)': 109,
 'Truth About Cats & Dogs, The (1996)': 110,
 'Flipper (1996)': 111,
 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)': 112,
 'Wallace & Gromit: The Best of Aardman Animation (1996)': 113,
 'Haunted World of Edward D. Wood Jr., The (1995)': 114,
 'Cold Comfort Farm (1995)': 115,
 'Rock, The (1996)': 116,
 'Twister (1996)': 117,
 'Maya Lin: A Strong Clear Vision (1994)': 118,
 'Striptease (1996)': 119,
 'Independence Day (ID4) (1996)': 120,
 'Cable Guy, The (1996)': 121,
 'Frighteners, The (1996)': 122,
 'Lone Star (1996)': 123,
 'Phenomenon (1996)': 124,
 'Spitfire Grill, The (1996)': 125,
 'Godfather, The (1972)': 126,
 'Supercop (1992)': 127,
 'Bound (1996)': 128,
 'Kansas City (1996)': 129,
 "Breakfast at Tiffany's (1961)": 130,
 'Wizard of Oz, The (1939)': 131,
 'Gone with the Wind (1939)': 132,
 'Citizen Kane (1941)': 133,
 '2001: A Space Odyssey (1968)': 134,
 'Mr. Smith Goes to Washington (1939)': 135,
 'Big Night (1996)': 136,
 'D3: The Mighty Ducks (1996)': 137,
 'Love Bug, The (1969)': 138,
 'Homeward Bound: The Incredible Journey (1993)': 139,
 '20,000 Leagues Under the Sea (1954)': 140,
 'Bedknobs and Broomsticks (1971)': 141,
 'Sound of Music, The (1965)': 142,
 'Die Hard (1988)': 143,
 'Lawnmower Man, The (1992)': 144,
 'Unhook the Stars (1996)': 145,
 'Long Kiss Goodnight, The (1996)': 146,
 'Ghost and the Darkness, The (1996)': 147,
 'Jude (1996)': 148,
 'Swingers (1996)': 149,
 'Willy Wonka and the Chocolate Factory (1971)': 150,
 'Sleeper (1973)': 151,
 'Fish Called Wanda, A (1988)': 152,
 "Monty Python's Life of Brian (1979)": 153,
 'Dirty Dancing (1987)': 154,
 'Reservoir Dogs (1992)': 155,
 'Platoon (1986)': 156,
 "Weekend at Bernie's (1989)": 157,
 'Basic Instinct (1992)': 158,
 'Glengarry Glen Ross (1992)': 159,
 'Top Gun (1986)': 160,
 'On Golden Pond (1981)': 161,
 'Return of the Pink Panther, The (1974)': 162,
 'Abyss, The (1989)': 163,
 'Jean de Florette (1986)': 164,
 'Manon of the Spring (Manon des sources) (1986)': 165,
 'Private Benjamin (1980)': 166,
 'Monty Python and the Holy Grail (1974)': 167,
 'Wrong Trousers, The (1993)': 168,
 'Cinema Paradiso (1988)': 169,
 'Delicatessen (1991)': 170,
 'Empire Strikes Back, The (1980)': 171,
 'Princess Bride, The (1987)': 172,
 'Raiders of the Lost Ark (1981)': 173,
 'Brazil (1985)': 174,
 'Aliens (1986)': 175,
 'Good, The Bad and The Ugly, The (1966)': 176,
 '12 Angry Men (1957)': 177,
 'Clockwork Orange, A (1971)': 178,
 'Apocalypse Now (1979)': 179,
 'Return of the Jedi (1983)': 180,
 'GoodFellas (1990)': 181,
 'Alien (1979)': 182,
 'Army of Darkness (1993)': 183,
 'Psycho (1960)': 184,
 'Blues Brothers, The (1980)': 185,
 'Godfather: Part II, The (1974)': 186,
 'Full Metal Jacket (1987)': 187,
 'Grand Day Out, A (1992)': 188,
 'Henry V (1989)': 189,
 'Amadeus (1984)': 190,
 'Raging Bull (1980)': 191,
 'Right Stuff, The (1983)': 192,
 'Sting, The (1973)': 193,
 'Terminator, The (1984)': 194,
 'Dead Poets Society (1989)': 195,
 'Graduate, The (1967)': 196,
 'Nikita (La Femme Nikita) (1990)': 197,
 'Bridge on the River Kwai, The (1957)': 198,
 'Shining, The (1980)': 199,
 'Evil Dead II (1987)': 200,
 'Groundhog Day (1993)': 201,
 'Unforgiven (1992)': 202,
 'Back to the Future (1985)': 203,
 'Patton (1970)': 204,
 'Akira (1988)': 205,
 'Cyrano de Bergerac (1990)': 206,
 'Young Frankenstein (1974)': 207,
 'This Is Spinal Tap (1984)': 208,
 'Indiana Jones and the Last Crusade (1989)': 209,
 'M*A*S*H (1970)': 210,
 'Unbearable Lightness of Being, The (1988)': 211,
 'Room with a View, A (1986)': 212,
 'Pink Floyd - The Wall (1982)': 213,
 'Field of Dreams (1989)': 214,
 'When Harry Met Sally... (1989)': 215,
 "Bram Stoker's Dracula (1992)": 216,
 'Cape Fear (1991)': 217,
 'Nightmare on Elm Street, A (1984)': 218,
 'Mirror Has Two Faces, The (1996)': 219,
 'Breaking the Waves (1996)': 220,
 'Star Trek: First Contact (1996)': 221,
 'Sling Blade (1996)': 222,
 'Ridicule (1996)': 223,
 '101 Dalmatians (1996)': 224,
 'Die Hard 2 (1990)': 225,
 'Star Trek VI: The Undiscovered Country (1991)': 226,
 'Star Trek: The Wrath of Khan (1982)': 227,
 'Star Trek III: The Search for Spock (1984)': 228,
 'Star Trek IV: The Voyage Home (1986)': 229,
 'Batman Returns (1992)': 230,
 'Young Guns (1988)': 231,
 'Under Siege (1992)': 232,
 'Jaws (1975)': 233,
 'Mars Attacks! (1996)': 234,
 'Citizen Ruth (1996)': 235,
 'Jerry Maguire (1996)': 236,
 'Raising Arizona (1987)': 237,
 'Sneakers (1992)': 238,
 'Beavis and Butt-head Do America (1996)': 239,
 'Last of the Mohicans, The (1992)': 240,
 'Kolya (1996)': 241,
 'Jungle2Jungle (1997)': 242,
 "Smilla's Sense of Snow (1997)": 243,
 "Devil's Own, The (1997)": 244,
 'Chasing Amy (1997)': 267,
 'Turbo: A Power Rangers Movie (1997)': 246,
 'Grosse Pointe Blank (1997)': 247,
 'Austin Powers: International Man of Mystery (1997)': 248,
 'Fifth Element, The (1997)': 249,
 'Shall We Dance? (1996)': 250,
 'Lost World: Jurassic Park, The (1997)': 251,
 'Pillow Book, The (1995)': 252,
 'Batman & Robin (1997)': 253,
 "My Best Friend's Wedding (1997)": 254,
 'When the Cats Away (Chacun cherche son chat) (1996)': 255,
 'Men in Black (1997)': 256,
 'Contact (1997)': 257,
 'George of the Jungle (1997)': 258,
 'Event Horizon (1997)': 259,
 'Air Bud (1997)': 260,
 'In the Company of Men (1997)': 261,
 'Steel (1997)': 262,
 'Mimic (1997)': 263,
 'Hunt for Red October, The (1990)': 264,
 'Kull the Conqueror (1997)': 679,
 'unknown': 266,
 'Full Monty, The (1997)': 268,
 'Gattaca (1997)': 269,
 'Starship Troopers (1997)': 270,
 'Good Will Hunting (1997)': 271,
 'Heat (1995)': 272,
 'Sabrina (1995)': 273,
 'Sense and Sensibility (1995)': 274,
 'Leaving Las Vegas (1995)': 275,
 'Restoration (1995)': 276,
 'Bed of Roses (1996)': 277,
 'Once Upon a Time... When We Were Colored (1995)': 278,
 'Up Close and Personal (1996)': 279,
 'River Wild, The (1994)': 280,
 'Time to Kill, A (1996)': 281,
 'Emma (1996)': 282,
 'Tin Cup (1996)': 283,
 'Secrets & Lies (1996)': 284,
 'English Patient, The (1996)': 285,
 "Marvin's Room (1996)": 286,
 'Scream (1996)': 287,
 'Evita (1996)': 288,
 'Fierce Creatures (1997)': 289,
 'Absolute Power (1997)': 290,
 'Rosewood (1997)': 291,
 'Donnie Brasco (1997)': 292,
 'Liar Liar (1997)': 293,
 'Breakdown (1997)': 294,
 'Promesse, La (1996)': 295,
 "Ulee's Gold (1997)": 302,
 'Face/Off (1997)': 297,
 'Hoodlum (1997)': 298,
 'Air Force One (1997)': 299,
 'In & Out (1997)': 300,
 'L.A. Confidential (1997)': 301,
 'Fly Away Home (1996)': 499,
 'Ice Storm, The (1997)': 864,
 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)': 305,
 "Devil's Advocate, The (1997)": 306,
 'FairyTale: A True Story (1997)': 307,
 'Deceiver (1997)': 1605,
 'Rainmaker, The (1997)': 309,
 'Wings of the Dove, The (1997)': 310,
 'Midnight in the Garden of Good and Evil (1997)': 311,
 'Titanic (1997)': 312,
 '3 Ninjas: High Noon At Mega Mountain (1998)': 313,
 'Apt Pupil (1998)': 314,
 'As Good As It Gets (1997)': 315,
 'In the Name of the Father (1993)': 316,
 "Schindler's List (1993)": 317,
 'Everyone Says I Love You (1996)': 318,
 'Paradise Lost: The Child Murders at Robin Hood Hills (1996)': 319,
 'Mother (1996)': 320,
 'Murder at 1600 (1997)': 321,
 "Dante's Peak (1997)": 322,
 'Lost Highway (1997)': 323,
 'Crash (1996)': 324,
 'G.I. Jane (1997)': 325,
 'Cop Land (1997)': 326,
 'Conspiracy Theory (1997)': 327,
 'Desperate Measures (1998)': 347,
 '187 (1997)': 329,
 'Edge, The (1997)': 330,
 'Kiss the Girls (1997)': 331,
 'Game, The (1997)': 332,
 'U Turn (1997)': 333,
 'How to Be a Player (1997)': 334,
 'Playing God (1997)': 335,
 'House of Yes, The (1997)': 336,
 'Bean (1997)': 337,
 'Mad City (1997)': 338,
 'Boogie Nights (1997)': 339,
 'Critical Care (1997)': 340,
 'Man Who Knew Too Little, The (1997)': 341,
 'Alien: Resurrection (1997)': 342,
 'Apostle, The (1997)': 343,
 'Deconstructing Harry (1997)': 344,
 'Jackie Brown (1997)': 345,
 'Wag the Dog (1997)': 346,
 'Hard Rain (1998)': 348,
 'Fallen (1998)': 349,
 'Prophecy II, The (1998)': 350,
 'Spice World (1997)': 351,
 'Deep Rising (1998)': 352,
 'Wedding Singer, The (1998)': 353,
 'Sphere (1998)': 354,
 'Client, The (1994)': 355,
 "One Flew Over the Cuckoo's Nest (1975)": 356,
 'Spawn (1997)': 357,
 'Assignment, The (1997)': 358,
 'Wonderland (1997)': 359,
 'Incognito (1997)': 360,
 'Blues Brothers 2000 (1998)': 361,
 'Sudden Death (1995)': 362,
 'Ace Ventura: When Nature Calls (1995)': 363,
 'Powder (1995)': 364,
 'Dangerous Minds (1995)': 365,
 'Clueless (1995)': 366,
 'Bio-Dome (1996)': 367,
 'Black Sheep (1996)': 368,
 'Mary Reilly (1996)': 369,
 'Bridges of Madison County, The (1995)': 370,
 'Jeffrey (1995)': 371,
 'Judge Dredd (1995)': 372,
 'Mighty Morphin Power Rangers: The Movie (1995)': 373,
 'Showgirls (1995)': 374,
 'Houseguest (1994)': 375,
 'Heavyweights (1994)': 376,
 'Miracle on 34th Street (1994)': 377,
 'Tales From the Crypt Presents: Demon Knight (1995)': 378,
 'Star Trek: Generations (1994)': 379,
 "Muriel's Wedding (1994)": 380,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 381,
 'Flintstones, The (1994)': 382,
 'Naked Gun 33 1/3: The Final Insult (1994)': 383,
 'True Lies (1994)': 384,
 'Addams Family Values (1993)': 385,
 'Age of Innocence, The (1993)': 386,
 'Beverly Hills Cop III (1994)': 387,
 'Black Beauty (1994)': 388,
 'Fear of a Black Hat (1993)': 389,
 'Last Action Hero (1993)': 390,
 'Man Without a Face, The (1993)': 391,
 'Mrs. Doubtfire (1993)': 392,
 'Radioland Murders (1994)': 393,
 'Robin Hood: Men in Tights (1993)': 394,
 'Serial Mom (1994)': 395,
 'Striking Distance (1993)': 396,
 'Super Mario Bros. (1993)': 397,
 'Three Musketeers, The (1993)': 398,
 'Little Rascals, The (1994)': 399,
 'Brady Bunch Movie, The (1995)': 400,
 'Ghost (1990)': 401,
 'Batman (1989)': 402,
 'Pinocchio (1940)': 403,
 'Mission: Impossible (1996)': 404,
 'Thinner (1996)': 405,
 'Spy Hard (1996)': 406,
 'Close Shave, A (1995)': 407,
 'Jack (1996)': 408,
 'Kingpin (1996)': 409,
 'Nutty Professor, The (1996)': 410,
 'Very Brady Sequel, A (1996)': 411,
 'Tales from the Crypt Presents: Bordello of Blood (1996)': 412,
 'My Favorite Year (1982)': 413,
 'Apple Dumpling Gang, The (1975)': 414,
 'Old Yeller (1957)': 415,
 'Parent Trap, The (1961)': 416,
 'Cinderella (1950)': 417,
 'Mary Poppins (1964)': 418,
 'Alice in Wonderland (1951)': 419,
 "William Shakespeare's Romeo and Juliet (1996)": 420,
 'Aladdin and the King of Thieves (1996)': 421,
 'E.T. the Extra-Terrestrial (1982)': 422,
 'Children of the Corn: The Gathering (1996)': 423,
 'Bob Roberts (1992)': 424,
 'Transformers: The Movie, The (1986)': 425,
 'To Kill a Mockingbird (1962)': 426,
 'Harold and Maude (1971)': 427,
 'Day the Earth Stood Still, The (1951)': 428,
 'Duck Soup (1933)': 429,
 'Highlander (1986)': 430,
 'Fantasia (1940)': 431,
 'Heathers (1989)': 432,
 'Forbidden Planet (1956)': 433,
 'Butch Cassidy and the Sundance Kid (1969)': 434,
 'American Werewolf in London, An (1981)': 435,
 "Amityville 1992: It's About Time (1992)": 436,
 'Amityville 3-D (1983)': 437,
 'Amityville: A New Generation (1993)': 438,
 'Amityville II: The Possession (1982)': 439,
 'Amityville Horror, The (1979)': 440,
 'Amityville Curse, The (1990)': 441,
 'Birds, The (1963)': 442,
 'Blob, The (1958)': 443,
 'Body Snatcher, The (1945)': 444,
 'Burnt Offerings (1976)': 445,
 'Carrie (1976)': 446,
 'Omen, The (1976)': 447,
 'Star Trek: The Motion Picture (1979)': 448,
 'Star Trek V: The Final Frontier (1989)': 449,
 'Grease (1978)': 450,
 'Jaws 2 (1978)': 451,
 'Jaws 3-D (1983)': 452,
 'Bastard Out of Carolina (1996)': 453,
 "Jackie Chan's First Strike (1996)": 454,
 'Beverly Hills Ninja (1997)': 455,
 'Free Willy 3: The Rescue (1997)': 456,
 'Nixon (1995)': 457,
 'Cry, the Beloved Country (1995)': 458,
 'Crossing Guard, The (1995)': 459,
 'Smoke (1995)': 460,
 'Like Water For Chocolate (Como agua para chocolate) (1992)': 461,
 'Secret of Roan Inish, The (1994)': 462,
 'Vanya on 42nd Street (1994)': 463,
 'Jungle Book, The (1994)': 464,
 'Red Rock West (1992)': 465,
 'Bronx Tale, A (1993)': 466,
 'Rudy (1993)': 467,
 'Short Cuts (1993)': 468,
 'Tombstone (1993)': 469,
 'Courage Under Fire (1996)': 470,
 'Dragonheart (1996)': 471,
 'James and the Giant Peach (1996)': 472,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 473,
 'Trainspotting (1996)': 474,
 'First Wives Club, The (1996)': 475,
 'Matilda (1996)': 476,
 'Philadelphia Story, The (1940)': 477,
 'Vertigo (1958)': 478,
 'North by Northwest (1959)': 479,
 'Apartment, The (1960)': 480,
 'Some Like It Hot (1959)': 481,
 'Casablanca (1942)': 482,
 'Maltese Falcon, The (1941)': 483,
 'My Fair Lady (1964)': 484,
 'Sabrina (1954)': 485,
 'Roman Holiday (1953)': 486,
 'Sunset Blvd. (1950)': 487,
 'Notorious (1946)': 488,
 'To Catch a Thief (1955)': 489,
 'Adventures of Robin Hood, The (1938)': 490,
 'East of Eden (1955)': 491,
 'Thin Man, The (1934)': 492,
 'His Girl Friday (1940)': 493,
 'Around the World in 80 Days (1956)': 494,
 "It's a Wonderful Life (1946)": 495,
 'Bringing Up Baby (1938)': 496,
 'African Queen, The (1951)': 497,
 'Cat on a Hot Tin Roof (1958)': 498,
 'Dumbo (1941)': 500,
 'Bananas (1971)': 501,
 'Candidate, The (1972)': 502,
 'Bonnie and Clyde (1967)': 503,
 'Dial M for Murder (1954)': 504,
 'Rebel Without a Cause (1955)': 505,
 'Streetcar Named Desire, A (1951)': 506,
 'People vs. Larry Flynt, The (1996)': 507,
 'My Left Foot (1989)': 508,
 'Magnificent Seven, The (1954)': 509,
 'Lawrence of Arabia (1962)': 510,
 'Wings of Desire (1987)': 511,
 'Third Man, The (1949)': 512,
 'Annie Hall (1977)': 513,
 'Boot, Das (1981)': 514,
 'Local Hero (1983)': 515,
 'Manhattan (1979)': 516,
 "Miller's Crossing (1990)": 517,
 'Treasure of the Sierra Madre, The (1948)': 518,
 'Great Escape, The (1963)': 519,
 'Deer Hunter, The (1978)': 520,
 'Down by Law (1986)': 521,
 'Cool Hand Luke (1967)': 522,
 'Great Dictator, The (1940)': 523,
 'Big Sleep, The (1946)': 524,
 'Ben-Hur (1959)': 525,
 'Gandhi (1982)': 526,
 'Killing Fields, The (1984)': 527,
 'My Life as a Dog (Mitt liv som hund) (1985)': 528,
 'Man Who Would Be King, The (1975)': 529,
 'Shine (1996)': 530,
 'Kama Sutra: A Tale of Love (1996)': 531,
 'Daytrippers, The (1996)': 532,
 'Traveller (1997)': 533,
 'Addicted to Love (1997)': 534,
 'Ponette (1996)': 535,
 'My Own Private Idaho (1991)': 536,
 'Anastasia (1997)': 537,
 'Mouse Hunt (1997)': 538,
 'Money Train (1995)': 539,
 'Mortal Kombat (1995)': 540,
 'Pocahontas (1995)': 541,
 'Mis√©rables, Les (1995)': 542,
 "Things to Do in Denver when You're Dead (1995)": 543,
 'Vampire in Brooklyn (1995)': 544,
 'Broken Arrow (1996)': 545,
 "Young Poisoner's Handbook, The (1995)": 546,
 'NeverEnding Story III, The (1994)': 547,
 'Rob Roy (1995)': 548,
 'Die Hard: With a Vengeance (1995)': 549,
 'Lord of Illusions (1995)': 550,
 'Species (1995)': 551,
 'Walk in the Clouds, A (1995)': 552,
 'Waterworld (1995)': 553,
 "White Man's Burden (1995)": 554,
 'Wild Bill (1995)': 555,
 'Farinelli: il castrato (1994)': 556,
 'Heavenly Creatures (1994)': 557,
 'Interview with the Vampire (1994)': 558,
 "Kid in King Arthur's Court, A (1995)": 559,
 "Mary Shelley's Frankenstein (1994)": 560,
 'Quick and the Dead, The (1995)': 561,
 "Stephen King's The Langoliers (1995)": 562,
 'Tales from the Hood (1995)': 563,
 'Village of the Damned (1995)': 564,
 'Clear and Present Danger (1994)': 565,
 "Wes Craven's New Nightmare (1994)": 566,
 'Speed (1994)': 567,
 'Wolf (1994)': 568,
 'Wyatt Earp (1994)': 569,
 'Another Stakeout (1993)': 570,
 'Blown Away (1994)': 571,
 'Body Snatchers (1993)': 669,
 'Boxing Helena (1993)': 573,
 "City Slickers II: The Legend of Curly's Gold (1994)": 574,
 'Cliffhanger (1993)': 575,
 'Coneheads (1993)': 576,
 'Demolition Man (1993)': 577,
 'Fatal Instinct (1993)': 578,
 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 579,
 'Kalifornia (1993)': 580,
 'Piano, The (1993)': 581,
 'Romeo Is Bleeding (1993)': 582,
 'Secret Garden, The (1993)': 583,
 'Son in Law (1993)': 584,
 'Terminal Velocity (1994)': 585,
 'Hour of the Pig, The (1993)': 586,
 'Beauty and the Beast (1991)': 587,
 'Wild Bunch, The (1969)': 588,
 'Hellraiser: Bloodline (1996)': 589,
 'Primal Fear (1996)': 590,
 'True Crime (1995)': 591,
 'Stalingrad (1993)': 592,
 'Heavy (1995)': 593,
 'Fan, The (1996)': 594,
 'Hunchback of Notre Dame, The (1996)': 595,
 'Eraser (1996)': 596,
 'Big Squeeze, The (1996)': 597,

In [12]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [13]:
# transform matrix to scipy sparse matrix
movie_user_mat_sparse = csr_matrix(moviemat.values)
movie_user_mat_sparse

<1682x944 sparse matrix of type '<class 'numpy.float64'>'
	with 100003 stored elements in Compressed Sparse Row format>

In [14]:
# utils import
from fuzzywuzzy import fuzz

In [15]:
# define model
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
# fit
model_knn.fit(movie_user_mat_sparse)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [16]:
def fuzzy_matching(mapper, fav_movie, verbose=True):
    """
    return the closest match via fuzzy ratio. If no match found, return None
    
    Parameters
    ----------    
    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie
    
    verbose: bool, print log if True

    Return
    ------
    index of the closest match
    """
    match_tuple = []
    # get match
    for title, idx in mapper.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        print('Oops! No match is found')
        return
    if verbose:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
    return match_tuple[0][1]



def make_recommendation(model_knn, data, mapper, fav_movie, n_recommendations):
    """
    return top n similar movie recommendations based on user's input movie
    Parameters
    ----------
    model_knn: sklearn model, knn model

    data: movie-user matrix

    mapper: dict, map movie title name to index of the movie in data

    fav_movie: str, name of user input movie

    n_recommendations: int, top n recommendations

    Return
    ------
    list of top n similar movie recommendations
    """
    # fit
    model_knn.fit(data)
    # get input movie index
    print('You have input movie:', fav_movie)
    idx = fuzzy_matching(mapper, fav_movie, verbose=True)
    # inference
    print('Recommendation system start to make inference')
    print('......\n')
    distances, indices = model_knn.kneighbors(data[idx], n_neighbors=n_recommendations+1)
    # get list of raw idx of recommendations
    raw_recommends = \
        sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
    # get reverse mapper
    reverse_mapper = {v: k for k, v in mapper.items()}
    # print recommendations
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_mapper[idx], dist))

In [17]:
my_favorite = 'Toy Story'

make_recommendation(
    model_knn=model_knn,
    data=movie_user_mat_sparse,
    fav_movie=my_favorite,
    mapper=movie_to_idx,
    n_recommendations=10)

You have input movie: Toy Story
Found possible matches in our database: ['Toy Story (1995)']

Recommendation system start to make inference
......

Recommendations for Toy Story:
1: Raiders of the Lost Ark (1981), with distance of 0.3776175050042344
2: Jerry Maguire (1996), with distance of 0.37592529851886347
3: Fargo (1996), with distance of 0.36939923923861095
4: Star Trek: First Contact (1996), with distance of 0.3632726854037742
5: Willy Wonka and the Chocolate Factory (1971), with distance of 0.3618423665130154
6: Mission: Impossible (1996), with distance of 0.3586782396588516
7: Rock, The (1996), with distance of 0.33544521129158
8: Independence Day (ID4) (1996), with distance of 0.31021439592414524
9: Return of the Jedi (1983), with distance of 0.30007502870792213
10: Star Wars (1977), with distance of 0.26622322826178724

In [18]:
my_favorite = 'batman'

make_recommendation(
    model_knn=model_knn,
    data=movie_user_mat_sparse,
    fav_movie=my_favorite,
    mapper=movie_to_idx,
    n_recommendations=10)

You have input movie: batman
Found possible matches in our database: ['Batman (1989)']

Recommendation system start to make inference
......

Recommendations for batman:
1: Empire Strikes Back, The (1980), with distance of 0.3561644212720909
2: Indiana Jones and the Last Crusade (1989), with distance of 0.3509174945485136
3: Batman Forever (1995), with distance of 0.3436320608215734
4: True Lies (1994), with distance of 0.33560720799637955
5: Speed (1994), with distance of 0.33463389167836677
6: Die Hard 2 (1990), with distance of 0.33024592599604097
7: Top Gun (1986), with distance of 0.31983252759281455
8: Jurassic Park (1993), with distance of 0.3126321455063157
9: Die Hard: With a Vengeance (1995), with distance of 0.3053461989564902
10: Batman Returns (1992), with distance of 0.290836250228915

In [19]:
# calcuate total number of entries in the movie-user matrix
num_entries = moviemat.shape[0] * moviemat.shape[1]
# calculate total number of entries with zero values
num_zeros = (moviemat==0).sum(axis=1).sum()
# calculate ratio of number of zeros to number of entries
ratio_zeros = num_zeros / num_entries
print('There is about {:.2%} of ratings in our data is missing'.format(ratio_zeros))

There is about 93.70% of ratings in our data is missing